* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0a0b0b;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(87, 89, 91, 0.471);
  padding: 2em;
  border-radius: 1em;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  transition: all 0.3s ease-in-out;
}

.container:hover {
  transform: translateY(-5px);
}

.input-section {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
}

input, button {
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.5em;
}

input {
  flex: 2;
  background-color: #ECF0F1;
  color: #0c0c0c;
}

button {
  flex: 1;
  cursor: pointer;
  background-color: #E74C3C;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #C0392B;
}

.output-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp-section {
  display: flex;
  align-items: baseline;
  margin-bottom: 1em;
}

#temp {
  font-size: 5rem;
  margin-right: 0.5em;
}

.celsius {
  font-size: 2rem;
}

.humidity-wind-section p {
  margin: 0.5em 0;
}

@media (max-width: 420px) {
  .container {
      padding: 1em;
  }

  input, button {
      padding: 0.5em;
      margin: 0.2em;
  }

  #temp {
      font-size: 3rem;
  }

  .celsius {
      font-size: 1.5rem;
  }
}
